<% provide(:title, "About") %>
<h1>About Chatter</h1>
<p>
	Chatter is a social networking platform for groups and event dicussion. Or it could turn out to be something completely different! More details later.
</p>

