<% provide(:title, "Sign in") %>
<h1>Sign in</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: sign_in_path) do |f| %>
      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>
      <%= f.label :password %>
      <%= link_to "(forgot password?)", new_password_reset_path %>
      <%= f.password_field :password, class: 'form-control' %>
      <%= f.label :remember_me, class: "checkbox inline" do %>
        <%= f.check_box :remember_me %>
        <span>Remember me</span>
      <% end %>
      <%= f.submit "Sign in", class: "btn btn-primary" %>
    <% end %>
    <br />
    <p>New user? <%= link_to "Sign up now!", sign_up_path %></p>
  </div>
</div>