<h1>chttr</h1>

<p>Hi <%= @user.name %>,</p>

<p>Welcome to chttr! To activate your account follow the link below:</p>

<%= link_to "Activate", edit_account_activation_url(@user.activation_token, email: @user.email) %>