<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
    <section class="stats">
    	<%= render 'shared/stats' %>
  	</section>
  </aside>
  <div class="col-md-8">
  	<%= render 'follow_form' if signed_in? %>
  	<% if @user.chats.any? %>
  		<%= will_paginate @chats %>
  		<h3>Posts (<%= @user.chats.count %>)</h3>
  		<ol class="chats">
  			<%= render @chats %>
			</ol>
  		<%= will_paginate @chats %>
		<% end %>
	</div>	
</div>