<div class="center jumbotron">
	<h1>welcome to chttr</h1>
	<h2>A place for groups.</h2>
	<%= link_to "Get started!", sign_up_path, class: "btn btn-lg btn-primary" %>
	<h6><%= link_to "Or sign in.", sign_in_path %></h6>
</div>
<blockquote>
	<p>Proudly built and powered with:</p>
	<%= link_to image_tag("rails.png", alt: "Built with Ruby on Rails"), 'http://rubyonrails.org/' %>
</blockquote>