<li id="chat-<%= chat.id %>">
	<%= link_to gravatar_for(chat.user), chat.user, class: "gravatar-chat" %>
	<span class="user"><%= link_to chat.user.name, chat.user %></span>
	<span class="content">
		<%= chat.content %>
		<%= image_tag chat.picture.url if chat.picture? %>
	</span>
	<span class="timestamp">
		Posted <%= time_ago_in_words(chat.created_at) %> ago
		<% if current_user?(chat.user) %>
			<%= link_to "delete", chat, method: :delete, data: { confirm: "Really delete post?" } %>
		<% end %>
	</span>
</li>