@import "bootstrap-sprockets";
@import "bootstrap";

$white: #fff;
$lighter-gray: #eaeaea;
$light-gray: #777;
$black: #000;

/* universal */

body {
	padding-top: 160px;
}

section {
	overflow: auto;
}

textarea {
	resize: vertical;
}

.center {
	text-align: center;

	h1 {
		margin-bottom: 10px;
	}
}

/* typography */

h1, h2, h3, h4, h5, h6 {
	line-height: 1;
}

h1 {
	font-size: 3em;
	letter-spacing: -2px;
	margin-bottom: 30px;
	text-align: center;
}

h2 {
	color: $light-gray;
	font-size: 1.35em;
	letter-spacing: -1px;
	margin-bottom: 30px;
	text-align: center;
	font-weight: normal;
}

p {
	font-size: 1.1em;
	line-height: 1.7em;
}

/* header logo */

#logo {
	float: left;
	margin-right: 10px;
	font-size: 6em;
	color: $white;
	text-transform: lowercase;
	letter-spacing: -0.21em;
	font-family: consolas;
 	text-decoration: none;
	&:hover {
		color: $black;
		text-shadow:
			-1px -1px 0 $white,  
    	 	 1px -1px 0 $white,
    		-1px  1px 0 $white,
    		 1px  1px 0 $white;
		 text-decoration: none;
	}
}

/* footer */

footer {
	color: $light-gray;
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid $lighter-gray;

	small {
		float: left;
	}

	ul {
		float: right;
		list-style: none;
	}

	ul li {
		float: left;
		margin-left: 15px;
	}
}

/* sidebar */

aside {
	section.user_info {
		margin-top: 20px;
	}
	section {
		padding: 10px 0;
		margin-top: 20px;
		&:first-child {
			border: 0;
			padding-top: 0;
		}
		span {
			display: block;
			margin-bottom: 3px;
			line-height: 1;
		}
		h1 {
			font-size: 1.4em;
			text-align: left;
			letter-spacing: -1px;
			margin-bottom: 3px;
			margin-top: 0px;
		}
	}
}

.gravatar {
	float: left;
	margin-right: 10px;
}

.gravatar_edit {
	margin-top: 15px;
}

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $lighter-gray;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}

.users.follow {
  padding: 0;
}

/* forms */

input, textarea, select, .uneditable-input {
	border: 1px solid #bbb;
	width: 100%;
	margin-bottom: 25px;
}

input {
	height: auto !important;
}

.field_with_errors {
	@extend.has-error;
	.form-control {
		color: $state-danger-text;
	}
}

.checkbox {
	margin-top: -5px;
	margin-bottom: 15px;
	span {
		margin-left: 20px;
		font-weight: normal;
	}
}

#session_remember_me {
	width: auto;
	margin-left: 0;
}

/* Users index */

.users {
	list-style: none;
	margin: 0;
	li {
		overflow: auto;
		padding: 20px 0;
		border-bottom: 1px solid $lighter-gray;
	}
}

/* chats */

.chats {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}

a.gravatar-chat > img.gravatar {
	width: 40px;
	height: auto;
}