<footer class="footer">
	<small>
		chttr &copy;
	</small>
	<nav>
		<ul>
			<li>
				<%= link_to "About", about_path %>
			</li>
			<li>
				<%= link_to "Contact", contact_path %>
			</li>
		</ul>
	</nav>	
</footer>